assets/*
!assets/.htaccess

# Misc
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
composer.lock
/*.log
/*.zip

# Modules
cms/
framework/
reports/
siteconfig/
silverstripe-singleobjectadmin/
quickaddnew/
vendor/

# Sensitive Files
_ss_environment.php
mysite/_config/keys.yml
