assets/*
!assets/.htaccess

# Misc
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
composer.lock
/*.log
/*.zip
/.env
/logs

# Modules
cms/
framework/
reports/
siteconfig/
silverstripe-singleobjectadmin/
quickaddnew/
vendor/
